{% extends "Index.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="containter">
            <div class="row">
            <div class="col-sm">
                    <p> Welcome to Dashing! </p>
                    <p> Please sign in.</p>
                    <div class="form-group">
                        <label for="usr">Username:</label>
                        <input type="text" class="form-control" id="usr">
                        <br>
                        <label for="pas">Password:</label>
                        <input type="text" class="form-control" id="pas">
                        <br>
                        <button type="button" class="btn btn-primary">Sign In</button>      
                        </div> 
                    </form>
                </div>
            </div>
        </div>
       
    
{% endblock %}