{% extends "Index.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="containter">
            <p> Select a child! </p>
                    <div class="row">
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btnchild" id="1">Jacob</button>  
                        </div>
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btnchild" id="2">Henry</button>  
                        </div>
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btnchild" id="3">Mark</button>      
                        </div> 
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btnchild">Missy</button>  
                        </div>
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btnchild">Sarah</button>  
                        </div>
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btnchild">Lindsey</button>      
                    </div>    
                    </form>
            </div>
        </div>
       
    
{% endblock %}